 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins';
}
/* common shared styles*/
    .primary-button{
        color: #FFF;
        padding: 10px 24px;
        background-color: #E02C6D;
        font-size: 1rem;
        font-weight: 700;
    }
/* nav related dtyle */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
    margin-left: 120px;
    margin-right: 120px;
    align-items: center;
}
nav>ul{
    display: flex;
    align-content: center;
}
ul li{
    list-style: none;
    margin-right: 34px;
}
ul a{
    color: #3A3A3A;
    text-decoration: none;
}
nav h3{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}
/* baner related style */
.baner{
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    margin-left: 120px;
    margin-right: 120px;
    align-items: center;
}
.baner-div-1{
    max-width: 582px;
}
.baner-heading{
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.baner-description{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    padding-right: 40px;
    margin-bottom: 16px;
}
.baner-button{
    border-radius: 40px;
}
.baner-div-2{
    height: 475px;
    width: 475px;
    background-image: url(../images/Circle\ design.svg);
}
/* main secton related tyle */
